@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style-type:none;
    border-spacing: 0px;
}

:root {
    --white: rgb(250, 250, 250);
    --light-grey: rgb(240, 240, 240);
    --grey: rgb(215, 215, 215);
    --black: rgb(25,25,25);
    --mediumBlack: rgb(75,75,75);
    --green: rgb(0, 165, 115);
    --darkGreen: rgb(0, 125, 75);
    --blue: rgb(50, 125, 250);
    --darkBlue: rgb(35, 100, 225);
    --red: rgb(250, 50, 50);
    --darkRed: rgb(200, 40, 40);
    --lightPurple: rgb(200, 200, 225);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--lightPurple);
}

.login-form {
    margin: auto;
    width: 500px;
    max-width: 90%;
    margin-top: 10vh;
}

.login-form form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 10px
}

.login-form .urbancom-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}


.login-form .form-group {
    display: flex;
    flex-direction: column;
}

.login-form form button {
    margin-left: 50%;
    margin-top: 13px;
    transform: translateX(-50%);
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    background-color: var(--blue);
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--white);
    transition: .3s;
}

.login-form form button:hover {
    background-color: var(--darkBlue);
}

.login-form input {
    width: 450px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--grey);
    padding-left: 10px;
    height: 35px;
    padding: 0 10px;
}

.login-form input:focus {
    outline-color: var(--blue);
}

.login-form .form-group {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 25%;
}

.login-form .form-group label {
    margin: 5px;
    font-size: 18px;
}

